html {
    box-sizing: border-box;
    font-family: 'montserrat', 'sans-serif';
    background-color: #292929;
    color:white;
}

#top {
    background-color: lightblue;
    color: #292929;
}

.hr1 {
    max-width:90%;
    border: 1px solid #404040;
}

.hr{
    max-width:50%;
    border: 1px solid #404040;
}

.pfp {
    margin-top: 35%;
    margin-right: 2vw;
    display:inline-block;
    width: 128px;
}

.name {
    font-size: 3.5em;
    font-weight: 700;
}

.nim {
    text-align: left;
    font-size: 2em;
    font-weight: 300;
}

.section {
    display:flex;
    justify-content:center;
    font-size: 2.5em;
    
}

.socials {
    color:white;
}

.socials:hover {
    color:#fcb603;
}

.school {
    color: white;
}

.school:hover {
    color:#fcb603;
}

input[type=checkbox]{
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

label {
    display: block;
}

.points{
    display:flex;
    justify-content:center;

}

p {
    max-width: 75%;
    font-size: 1.5em;
}